* {
    scroll-behavior: smooth;

}

body {
    font-family: 'Didact Gothic', sans-serif;

}

.section-padding {
    padding: 2em 0;
}
.padding-10{
    padding: 10px 15px;
}
.shadow-stock{
    transition: .3s;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}
.shadow-stock:hover{
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)
}

.gradient-text{
    background: linear-gradient(90deg,rgba(54,102,212,1) 0%, rgba(24,141,152,1) 50%, rgba(89,69,156,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
