* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background: #343a40;
    font-family: Montserrat, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/*navmenu*/
/*header*/
.menu-burger {
    top: 30px;
    position: relative;
    width: 30px;
    height: 2px;
    background: #fff;

}

.menu-burger:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background: #fff;
    top: -7px;

}
.menu-burger:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background: #fff;
    top: 7px;

}

.mobile-menu {
    display: none;
    position: absolute;
    right: 20px;
}

.nav-elements {
    display: block;
    text-align: center;

}

.nav-elements a {
    color: #fff;
    margin: 10px;
    opacity: .5;
    transition: 0.3s;
}

.nav-elements a:hover {
    opacity: 1;
    text-decoration: none;
}


.navbar-sticky {
    padding: 10px;
    position: fixed;
    top: 0;
    background: #1d2124;
    opacity: .5;
    transition: .3s;
    z-index: 50;
    width: 100%;
}

.navbar-sticky:hover {
    opacity: 1;
}


.myCardDiv {
    display: inline-block;
}

.coloredText {
    display: flex;
    background: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    font-family: 'Montserrat ExtraBold', sans-serif;
    text-align: left;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    flex-flow: column;
}

.myName {
    line-height: 1;
    margin-left: -2px;
    font-size: 50px;
}

.mySpecialisation {
    margin-top: 15px;
    font-size: 20px;
}

.socialMedia {
    display: flex;
    flex-wrap: wrap;
    margin-left: -9px;
}

.contacts:hover svg {
    fill: white;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 2px;
}

.facebook,
.instagram,
.telegram,
.whatsapp,
.email,
.phone,
.github {
    transition: .3s;

}

.facebook {
    fill: #4267B2;

}

.whatsapp {
    fill: #25D366;
}

.instagram {
    fill: #e4405f;
}

.telegram {
    fill: #5682A3;
}

.email {
    fill: #005B8D;
}

.phone {
    fill: #148C14;
}

.html5 {
    fill: #E44D26;
}

.css3 {
    fill: #1B73BA;
}

.svg {
    fill: #fff;
}

.contacts {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 0 12px 0;
    padding: 0 0 10px 0;
    transition: .3s;
    position: relative;
}

.contacts div {
    padding-left: 10px;

}

.contacts h6, .skills h6 {
    margin: 0 0 0 10px;
    display: none;
}


.resumeLink {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin-top: 15px;
}

.resumeLink a {
    color: white;
}

.h-100vh {
    height: 100vh;
}


.myAva {
    width: 300px;
    height: 350px;
    -webkit-box-shadow: 0 0 11px 6px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 0 11px 6px rgba(0, 0, 0, 0.26);
    box-shadow: 0 0 11px 6px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}

.card-contacts {
    margin: auto;
    display: flex;
}


.contactsText {
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;
}

.card-contacts-main {
    display: flex;
    height: 100vh;
}

.paddingLeftContacts {
    display: inline-block;
    margin: auto;
    padding-left: 20px;
}

.skills {
    margin: auto;
}

.skillsItem {
    padding: 10px 0;
}

.skillsCard {
    position: relative;
    padding: 50px 100px;
    width: 100%;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}

.skillsCard::before {
    position: absolute;
    content: "Я УМЕЮ";
    left: -29%;
    top: 22%;
    font-size: 70px;
    font-family: "Montserrat ExtraBold", sans-serif;
    transform: rotate(-90deg);
    color: rgba(0, 0, 0, .2);
}

.mySkillsText {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #fff;
}

.skillName {

    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.skillPercentage {
    display: inline-block;
    width: 100%;
    height: 10px;
    background: black;
    border-radius: 50px;
    position: relative;
}


.HtmlCssPercentage::before,
.JSPercentage::before,
.ReactPercentage::before,
.BootstrapPercentage::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    height: 10px;
    border-radius: 50px;
}

.HtmlCssPercentage::before {
    width: 80%;
}

.JSPercentage::before {
    width: 40%;
}

.ReactPercentage::before {
    width: 40%;
}

.BootstrapPercentage::before {
    width: 70%;
}

.skillsExplanation {
    margin-top: 30px;
}

.skillsExplanation p {
    line-height: 0.4;
    font-size: 14px;
    color: white;

}

.portfolio {
    padding: 5em 0;
    margin: auto;
    width: 100%;
}

.portfolioImage {
    width: 100%;
    height: 200px;
    transition: .3s;
    margin: 5px 0 5px;
}

.portfolioItem {
    transition: 1.3s;

}

.portfolioItem a {
    text-align: center;
}

.portfolioItem:hover {

}

.portfolioItem:hover .portfolioImage {
    -webkit-box-shadow: 0 6px 23px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 6px 23px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0 6px 23px 6px rgba(0, 0, 0, 0.6);
    margin: 0 0 10px;
}

.portfolioItem:hover a {

    text-decoration: none;
}

.portfolioItemText {
    margin-top: 3px;
    color: white;
    height: 3em;
}

.portfolioItemText a {
    color: white;
}

.paddingBottom {
    padding-bottom: 2rem;
}

.card-contacts-main-without-height {
    display: flex;

}

.footer-div {
    text-align: center;
}

.footer-text {
    color: #fff;
    font-size: 14px;
}

/*certificate*/
.owl-carousel .owl-item img {
    display: block;
    width: 600px;
}

.cert-div {
    padding-top: 5em;
}

.cert {
    width: 600px;
    /*height: 400px;*/
    margin: auto;
}